{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_moove/footer

    Footer template

    Example context (json): {}
}}
<div id="top-footer" class="container">
    <div class="row">
        <div class="col-md-7 contact">
            <h2>{{#str}}stayintouch, theme_moove{{/str}}</h2>
            <p>Address: 555 12th St, NW 630A<br>
                Washington, DC 20004<br>
                Phone number: (888) 995-WCAG<br>
                International number: 1(888) 995-9224<br>
                Email: accessibility@user1st.com</p>
            <ul>
                {{#output.get_website_config}}<li><i class="fa fa-globe"></i>{{output.get_website_config}}</li>{{/output.get_website_config}}
                {{#output.get_mobile_config}}<li><i class="fa fa-mobile-phone"></i>{{output.get_mobile_config}}</li>{{/output.get_mobile_config}}
                {{#output.get_mail_config}}<li><i class="fa fa-envelope"></i>{{output.get_mail_config}}</li>{{/output.get_mail_config}}
            </ul>
        </div>
        <div class="col-md-5 social">
          <ul>
              {{#output.get_facebook_config}}
                <li>
                  <a href="{{output.get_facebook_config}}" target="_blank" />
                    <i class="fa fa-facebook-square"></i>
                  </a>
                </li>
              {{/output.get_facebook_config}}

              {{#output.get_twitter_config}}
                <li>
                  <a href="{{output.get_twitter_config}}" target="_blank" />
                    <i class="fa fa-twitter-square"></i>
                  </a>
                </li>
              {{/output.get_twitter_config}}

              {{#output.get_googleplus_config}}
                <li>
                  <a href="{{output.get_googleplus_config}}" target="_blank" />
                    <i class="fa fa-google-plus-square"></i>
                  </a>
                </li>
              {{/output.get_googleplus_config}}

              {{#output.get_linkedin_config}}
                <li>
                  <a href="{{output.get_linkedin_config}}" target="_blank" />
                    <i class="fa fa-linkedin-square"></i>
                  </a>
                </li>
              {{/output.get_linkedin_config}}

              {{#output.get_youtube_config}}
                <li>
                  <a href="{{output.get_youtube_config}}" target="_blank" />
                    <i class="fa fa-youtube-square"></i>
                  </a>
                </li>
              {{/output.get_youtube_config}}
          </ul>
        </div>
    </div>
    <div class="row">
        <span class="copyright-notice"> ©2018 User1st </span>
        <span class="image-wrap">
            <img src="/wp-content/uploads/2017/02/User1st_Logo_Footer.png" alt="">
        </span>
    </div>
</div>

<footer id="page-footer" class="p-y-1">
    
    {{{ output.standard_end_of_body_html }}}
</footer>
